.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 0.3rem;
  border-radius: 3px;
  border: none;
  /* border: 1px solid rgb(172, 170, 170); */
  background-color: rgba(255, 224, 181, 0.5);
  color: white;
  margin-right: 0.5rem;
  height: 33px;
}

.search {
  background-color: rgb(164, 175, 105);
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.searchIcon {
  width: 50px;
}

.searchIcon:hover {
  animation: mymove 1s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(10deg);
  }
}
