.container {
  background-color: rgba(132, 192, 54, 0.5);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 60vw;
  text-align: center;
}

.Icon {
  width: 30px;
  height: 30px;
}

.descriptionContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.description {
  display: flex;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.errorIcon {
  width: 50px;
  margin-bottom: 1rem;
}
