body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top left, #89d2dc 0%, #6564db 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
}

.reminder {
  text-align: center;
  margin-top: 3rem;
}

h1 {
  color: #ffffff;
  text-shadow: #474747 3px 5px 2px;
}
