.temps {
  display: flex;
  justify-content: space-around;
}

.date {
  margin-bottom: 0.3px;
}

.temp {
  margin-top: 0.3px;
}

.highTemp {
  font-weight: bold;
}

.li {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
  }

  .date,
  .temp {
    margin: 0px;
  }
}
